@model IEnumerable<Final2.Models.Licencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado1.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Desde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLicencias }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLicencias }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdLicencias })
        </td>
    </tr>
}

</table>
