@model IEnumerable<Final2.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo1.Cargo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento1.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo1.Cargo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento1.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdEmpleado }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdEmpleado }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdEmpleado })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Ver Los Empleados Activos", "EmpleadosActivos")
@Html.ActionLink("Buscar por Nombre", "EmActivoNombre")
@Html.ActionLink("Empleados Inactivos", "EmpleadoInactivos")
@Html.ActionLink("Entrada de empleado por mes", "EntradaEmpleado")
@*@Html.ActionLink("Buscar Por Departamento", "")*@

